<div id="themes" class="wrap-input validate-input" style="border-color: transparent; width: calc(100% - 12px)">
  <label>
    <input type="radio" [(ngModel)]="setting" name="theme" value="light" (click)="sendTheme('light')" checked>
    <img src="https://ssl.gstatic.com/docs/templates/thumbnails/19jGfHq434ftbnGw0Y8BFC8eIP9gVcH2lC1xjFfbdG84_400.png">
  </label>
  
  <label>
    <input type="radio" [(ngModel)]="setting" name="theme" value="dark" (click)="sendTheme('dark')">
    <img src="https://ssl.gstatic.com/docs/templates/thumbnails/1IZ6nouC9AK0AsjTbKJKra-suLKe4By5WFa55iB0k-Ck_400.png">
  </label>
</div>
