<div class="row">
  <div class="sidebar-dashboard">
    <p class="title">your<span class="text-primary">slides</span></p>
    <ul>
      <li><a [routerLink]="['/panel']"><i class="la la-home"></i> Inicio</a></li>
      <li><a [routerLink]="['/panel/slide']" [routerLinkActive]="['active']"><i class="lar la-folder-open"></i> Mis presentaciones</a></li>
      <li><a [routerLink]="['/editor']" [routerLinkActive]="['active']"><i class="las la-plus"></i> Crear presentación</a></li>
    </ul>
  </div>
  <div class="main-panel">
    <div class="navbar-dashboard">
      <ul>
        <li><a><i class="las la-question-circle"></i><span> Ayuda</span></a></li>
        <li><a><img src="https://eu.ui-avatars.com/api/?background=554dff&color=fff&name=Samuel+Navarro" alt=""><span> Samuel</span></a></li>
      </ul>
    </div>
    <router-outlet></router-outlet>
  </div>
</div>


