/* Variables */

/* Fuentes */
$logo-font: 'Stolzl', sans-serif;
$stolzl: 'Stolzl', Helvetica, Arial, sans-serif;
$sans: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, "Apple Color Emoji", Arial, sans-serif, "Segoe UI Emoji", "Segoe UI Symbol";

/* Colores */
$primary-color: #d8485b; // #5f3eac
$primary-color-dark: #ca364a; // #4e3d8f

$secondary-color: #f8b7c0;
$secondary-color-dark: #d8485b;

$third-color: #f1ce80;
$third-color-dark: #fcc45d;

$alternative-color: #5f3eac; // #f8b7c0
$alternative-color-dark: #4e3d8f; // #d8485b