<div class="page-title">
  <h1>Crea presentación</h1>
</div>

<div class="row">

  <form ngNativeValidator #f="ngForm" action="" (submit)="createSlide()" class="contact-form col col-xs-12 card">
    <div class="wrap-contact">

      <div class="wrap-input validate-input">
        <label class="label-input" for="name">Título de la presentación</label>
        <input id="name" [(ngModel)]="slide.title" class="input" type="text" name="title" placeholder="Elige un título llamativo" required>
        <span class="focus-input"></span>
      </div>

      <app-theme-list (themeChange)="receiveTheme($event)" style="width: 100%;"></app-theme-list>

      <div class="container-contact-form-btn">
        <button type="submit" class="btn btn-full btn-primary" [disabled]="!f.form.valid">
          Crear presentación
        </button>
      </div>

    </div>
  
  </form>

</div>
