/* Imports */
@import "../node_modules/@drewbot/sass-flexbox-grid/public/sass-flexbox/main.min.css";

@import "assets/variables.scss";

/* Reset */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Fonts */
@font-face {
  font-family: 'Px Grotesk';
  src: url('assets/fonts/PxGrotesk-BoldItalic.woff2') format('woff2'),
      url('assets/fonts/PxGrotesk-BoldItalic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Px Grotesk';
  src: url('assets/fonts/PxGrotesk-Bold.woff2') format('woff2'),
      url('assets/fonts/PxGrotesk-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Mont';
  src: url('assets/fonts/Mont-BookItalic.woff2') format('woff2'),
      url('assets/fonts/Mont-BookItalic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Mont';
  src: url('assets/fonts/Mont-HeavyItalic.woff2') format('woff2'),
      url('assets/fonts/Mont-HeavyItalic.woff') format('woff');
  font-weight: 800;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Mont';
  src: url('assets/fonts/Mont-Heavy.woff2') format('woff2'),
      url('assets/fonts/Mont-Heavy.woff') format('woff');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Mont';
  src: url('assets/fonts/Mont-Book.woff2') format('woff2'),
      url('assets/fonts/Mont-Book.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* Headers */
h1, h2, h3, h4, h5, h6 {
  font-family: "Px Grotesk";
  font-weight: bold;
}

h1 { font-size: 2em; }
h2 { font-size: 1.8em; }
h3 { font-size: 1.6em; }
h4 { font-size: 1.4em; }
h5 { font-size: 1.2em; }
h6 { font-size: 1em; }

/* Texts */
p, a {
  font-family: "Mont";
  color: black;
}

.text-primary { color: $primary-color; }

/* Buttons */
.btn {
  padding: 10px 15px;
  border-radius: 3px;
}
.btn-primary {
  background-color: $primary-color;
  color: white;
  &:hover {
    background-color: $primary-color-dark;
  }
}

