/* Imports */
@import "../node_modules/@drewbot/sass-flexbox-grid/public/sass-flexbox/main.min.css";

@import "assets/variables.scss";

/* Reset */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
  line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Fonts */
@font-face {
    font-family: 'Stolzl';
    src: url('assets/fonts/Stolzl-Thin.woff2') format('woff2');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
  font-family: 'Stolzl';
  src: url('assets/fonts/Stolzl-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
    font-family: 'Stolzl Book';
    src: url('assets/fonts/Stolzl-Book.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Stolzl';
    src: url('assets/fonts/Stolzl-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Stolzl';
    src: url('assets/fonts/Stolzl-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Stolzl';
    src: url('assets/fonts/Stolzl-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}



/* Headers */
h1, h2, h3, h4, h5, h6 {
  font-family: $logo-font;
  font-weight: bold;
}

h1 { font-size: 2em; }
h2 { font-size: 1.8em; }
h3 { font-size: 1.6em; }
h4 { font-size: 1.4em; }
h5 { font-size: 1.2em; }
h6 { font-size: 1em; }

/* Texts */
p, a {
  font-family: $stolzl;
  color: black;
}

.text-primary { color: $primary-color; }

/* Background Colors */
.bg-primary {
  background-color: $primary-color;
  color: white;
}

/* Components */
/* - Icons */
.fa-group {
  .fa-primary {
    fill: $secondary-color-dark;
  }
  
  .fa-secondary {
    fill: $secondary-color;
  }

  .fa-accent {
    fill: $primary-color;
  }
}



/* - Call to action */
.cta-container {
  width: calc(100vw - 332px);
  margin-left: -5.5em;
  display: flex;
  padding-top: 3em;
  padding-bottom: 5em;
  overflow-x: auto;

  .cta:first-of-type {
    margin-right: 2em;
    margin-left:  6em;
  }
  
}

.cta {
  width: 500px;
  min-width: 500px;
  height: 270px;
  margin-top: 5em;
  background-color: $primary-color;
  border-radius: 2.5em;

  &.cta-third {
    background-color: $third-color;
  }

  h1 {
    color: white;
  }
}

/* Buttons */
.btn {
  padding: 10px 15px;
  border-radius: 3px;
}
.btn-primary {
  background-color: $primary-color;
  color: white;
  &:hover {
    background-color: $primary-color-dark;
  }
}
