@import '../../../../assets/variables.scss';

.page-title {
  display: flex;
  justify-content: space-between;
  align-items: center;

  a {
    padding: 10px 14px;
    border-radius: 4px;
    transition: all ease 0.2s;
    color: white;
    text-decoration: none;
    margin: 0 10px;
    display: inline-flex;
    align-items: center;
    overflow: hidden;

    span {
      padding-left: 0;
      width: 0px;
      opacity: 0;
      transition: all ease 0.45s;
    }

    &:hover {
      transform: scale(1.05);
      box-shadow: 0.25em 0.25em 1em rgba(0, 0, 0, 0.2);

      span {
        padding-left: 10px;
        opacity: 1;
      }
    }
  }
  .add {
    background-color: $alternative-color;
    &:hover {
      background-color: $alternative-color-dark;
      span { width: 115px }
    }
  }
}

app-slides-list {
  width: 100%;
}